.home {
    background-color: var(--background-color);
}

.home__content,
.about__content,
.skill,
.portfolio,
.contact {
    height: auto;
}

.intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 40px;
}

.intro__title {
    font-size: 6rem;
    text-transform: capitalize;
    color: var(--text-color);
    line-height: 6rem;
    margin: 0 0 12px;
    letter-spacing: var(--spacing);
    font-weight: 700;
}

.intro__description {
    color: var(--textsub-color);
    margin: 0 0 12px;
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    font-weight: 400;
}

.intro__button {
    height: 58px;
    width: 258px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__btn {
    flex: 1;
    height: 38px;
    -width: 110px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    margin: 20px 16px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    text-decoration: none;
}

.intro__btn:hover {
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
    background-color: rgba(233, 185, 73, 0.9);
}

.intro__connect-list {
    text-decoration: none;
    font-size: 3rem;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 242px;
    margin: 40px 0 0;
}

.intro__connect-item {
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.intro__connect-item:hover .intro__connect-link {
    transform: translateY(-1px);
    color: var(--primary-color);
}

.intro__connect-link {
    padding: 0 16px;
    color: var(--text-color);
}

.intro__image {
    border: 1px solid #ddd;
    width: 400px;
    height: 500px;
    border-radius: 8px;
    position: relative;
    display: block;
}

.intro__image:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 1.8rem;
    right: -3rem;
    border: 5px solid rgb(233, 163, 0);
    border-radius: 8px;
    box-sizing: border-box;
}

.intro__image-dd {
    border: 1px solid #ddd;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
}

// Responsive
/* Mobile & Tablet */
@media (max-width: 63.9375em) {
    .col-full {
        width: 100%;
    }
    .intro {
        padding: 0;
        text-align: center;
        align-items: center;
    }
    .intro__title {
        font-size: 5rem;
        line-height: 5rem;
    }
    .intro__connect-list {
        margin: 36px 16px 0 0;
    }
    .avatar-on-mobile-tablet {
        display: flex;
        justify-content: center;
        margin-top: 48px;
    }
    .intro__image {
        width: 300px;
        height: 400px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }
    .header__list {
        width: 127%;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none;
    }
    .header__menu-item {
        font-size: 3rem;
    }
    .margin-top-16 {
        margin-top: 16px;
    }
}
