.skills {
    background-color: var(--background-color-skill);
}

.skill__title {
    margin-bottom: 67px;
}

.skill__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
    line-height: 4.5rem;
    cursor: default;
    user-select: none;
    color: var(--text-color);
}

.margin-t27-pc {
    margin-top: 27px;
}

/* Responsive */
/* Mobile & Tablet */
@media (max-width: 63.9375em) {
    .margin-t27 {
        margin-top: 27px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }
    .header__list {
        width: 127%;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none;
    }
    .header__menu-item {
        font-size: 3rem;
    }
    .margin-top-16 {
        margin-top: 16px;
    }
}
